body {
  background-color: #DFE9FF;
  color: #333366;
}

#chat-button {
    max-width: 800px;
    margin: auto;
    margin-top: 5%;
    padding: 1.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
#chat-button h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#chat-button h3 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;

}
  
#chat-button form {
    display: flex;
    flex-direction: column;
}
  
#chat-button label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
  
#chat-button input {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    outline: none;
}
  
#chat-button button {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    background-color: #9FAFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease-in-out;
    outline: none;
}
  
#chat-button button:hover {
    background-color: #8096ff;
}
  
#chat-button #response {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
#chat-button a {
  color: #333366;
  text-decoration: none;
}
#chat-button a:hover {
  color: #333366;
  font-style: italic;
}
#chat-button a:visited {
  color: #333366;
}
  
@media only screen and (max-width: 600px) {
  #chat-button .container {
      margin: 20px;
      padding: 10px;
  }
  #chat-button h1 {
      font-size: 2rem;
  }
}
@media only screen and (max-height: 750px) {
  footer {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 400px) {
  footer {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
}