body {
    background-image: url(images/login-signup-background.jpg);
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;

}
.form-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(51, 51, 102, .9);
    width: 30%;
    height: 75vh;
    padding-left: 10%;
    padding-right: 10%;
}
.form-box form {
    display: flex;
    flex-direction: column;
}
.form-box form input {
    background-color: #DFE9FF;
    border-radius: .5em;
    margin-bottom: 5%;
    padding: 1vh;
    border-style: none;
}
::placeholder {
    color: rgba(51, 51, 102, .8);
}
.form-box form button {
    background-color: #9FAFFF;
    border-radius: .5em;
    margin-top: 4vh;
    margin-bottom: 5vh;
    padding: 2vh;
    font-size: 1em;
    font-weight: bold;
    border-style: none;
    color: #333366;
}
.form-box p {
    color: #DFE9FF;
    font-size: 1.75vh;
}
.form-box a {
    color: #9FAFFF;
}
.page-title {
    font-size: 4vh;
    margin-left: 4vh;
    color: #9FAFFF;
}
.form-title {
    font-size: 5vh;
    text-align: center;
    padding: 0;
    align-self: flex-start;
    color: #DFE9FF;
}