body {
    width: 100%;
    margin: 0;
}
header {
    /* background: ;*/
    display: grid;
}
.scrollContainer {
}
#scrollHorizontal {
    display:inline-block;
    width: 600px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    white-space: nowrap;
  }

nav {
    display: inline;
    position: sticky;
    width: 100%;
    height: 9vh;
    background-color: #333366;
    color: #DFE9FF;
}
nav a {
    color: inherit;
    text-decoration: none;
    font-size: 3vh;
    padding: 10px;
}
nav a:hover {
    text-decoration: underline;
}
#search-bar {
    
}
.account-nav {
    
}
/* Remove when ChatGBT AI is added */
#call-to-action {
    display: none;
}
.arrow-logos {
    height: 50px;
    padding: 10px;
    background:none;
    margin:0;
    padding:0;
    border:0;
}
#left-arrow {
    display: inline-block;
    
}
#right-arrow {
    display: inline-block;
    
}
.categories-menu {
    display: inline;
}
.categories-menu li {
    display: inline;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 1.1em;
}
main {
    background-color: #DFE9FF;
    color: #333366;
    height: 82vh;
}
footer {
    background-color: #333366;
    color: #DFE9FF;
    height: 9vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* movie generation css*/

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  #movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie {
    width: 30%;
    margin: 20px;
    text-align: left;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
  }
  
  @media (max-width: 992px) {
    .movie {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .movie {
      width: 60%;
    }
  }
  
  @media (max-width: 576px) {
    .movie {
      width: 80%;
    }
  }
  

/* For responsive layout - alter mobile layout here */
@media only screen and (max-width: 900px) {
    .large-screen-nav {
        display: none;
    }
    .small-screen-nav {
        display: inline;
    }
    .logo-nav {
        width: 50px;
        padding-top: 1vh;
        padding-left: 2%;
    }
    #movie-chatter-logo {
        padding-left: 15%;
        position: fixed;
        margin: 0;
        padding: 0;
        top: 1vh;
        left: 45vw;
    }
    #profile-logo {
        position: fixed;
        margin: 0;
        padding: 0;
        top: 1vh;
        right: 2vw;
    }
}
@media only screen and (min-width: 900px) {
    .large-screen-nav {
        display: inline;
    }
    .small-screen-nav {
        display: none;
    }
    .text-nav-item {
        margin-top: 3.5vh;
        margin-left: 2vw;
    }
    #account-nav {
        position: fixed;
        margin: 0;
        top: 1.5vh;
        right: 2vw;
    }
}