body {
    background-color: #DFE9FF;
    width: 100%;
    margin: 0;
}
header {
    /* background: ;*/
    display: grid;
    background-color: none;
}
nav {
    display: inline;
    position: sticky;
    width: 100%;
    height: 9vh;
    background-color: #333366;
    color: #DFE9FF;
    z-index: 2;
}
nav a {
    color: inherit;
    text-decoration: none;
    font-size: 3vh;
    padding: 10px;
}
nav a:hover {
    text-decoration: underline;
}
#search-bar {
    
}
.account-nav {
    
}
/* MOVIE LIST CSS */

.categories-menu-wrapper {
  position: relative;
  overflow-x: hidden;
}

.categories-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories-menu li {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.categories-menu li:hover {
  color: red;
}

.scroll-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}

.categories-menu-wrapper .scroll-left,
.categories-menu-wrapper .scroll-right {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: left 0.3s ease-out, right 0.3s ease-out;
}





/* Remove when ChatGBT AI is added */
#call-to-action {
    display: none;
}

main {
    background-color: #DFE9FF;
    color: #333366;
    height: 82vh;
}
footer {
    background-color: #333366;
    color: #DFE9FF;
    height: 9vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#copyright {
  position: absolute;
  padding-top: 1%;
  padding-left: 3%;
}
/* movie generation css*/

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  #movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie {
    width: 30%;
    margin: 20px;
    text-align: left;
    background-color: #DFE9FF;
    padding: 20px;
    border-radius: 10px;
  }
  
  @media (max-width: 992px) {
    .movie {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .movie {
      width: 60%;
    }
  }
  
  @media (max-width: 576px) {
    .movie {
      width: 80%;
    }
  }
  /*dropdown*/
 /* Default styles for larger screens */
.dropdown {
    position: absolute;
    margin: 20px;
    top: 1.5vh;
    right: 2vw;
    color: inherit;
    text-decoration: none;
    font-size: 2vh;
    
}

.dropdown-toggle {
  display: block;
  font-size: 3vh;
  text-decoration: none;
  color: #DFE9FF;
  border: none;
  background-color: #333366;
  cursor: pointer;
  background: none;
 
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #9FAFFF;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 180px;
  
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333366;
  
}

.dropdown-menu a:hover {
  background-color: #DFE9FF;
  
}

.show {
  display: block;
  
}


/* For responsive layout - alter mobile layout here */
@media only screen and (max-width: 950px) {
    .large-screen-nav {
        display: none;
    }
    .small-screen-nav {
        display: inline;
    }
    nav {
        height: 10vh;
    }
    .logo-nav {
        width: 14vw;
        padding-top: 1vh;
        padding-left: 2%;
    }
    #movie-chatter-logo {
        padding-left: 15%;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1vh;
        left: 45vw;
    }
    #profile-logo {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1vh;
        right: 2vw;
    }
}
@media only screen and (max-width: 300px) {
  nav {
      height: 8vh;
  }
}
@media only screen and (min-height: 720px) {
  .logo-nav {
      width: 11vw;
  }
}
@media only screen and (min-height: 740px) {
  .logo-nav {
      width: 15vw;
  }
}
@media only screen and (min-width: 700px) {
  .logo-nav {
      width: 10vw;
  }
}
@media only screen and (min-width: 950px) {
    .large-screen-nav {
        display: inline;
    }
    .small-screen-nav {
        display: none;
    }
    .text-nav-item {
        margin-top: 3.5vh;
        margin-left: 2vw;
    }
    #account-nav {
        position: fixed;
        margin: 0;
        top: 1.5vh;
        right: 2vw;
    }
}